@media (max-width: 1170px) {
    .navBarContainer{
        padding: 3px 20px;
    }
    .standardWidth{
        padding: 0 20px;
    }
    .pt_100{
        padding: 100px 40px 0 0;

    }
}
@media (max-width: 900px) {
    .landingContainer{
        grid-template-columns: 1fr;
    }
    .pt_100{
        padding: 50px 0 0 0;

    }
}
@media (max-width: 500px) {
    .HeaderFont{
        font-size: 30px;
    }
    .report{
        font-size: 7px;
        top: 50px;
        right: 20px;
        width: 40px;
        height: 55px;
    }
    .smHides{
        display: none;
    }
    .padContent{
        padding: 10px 0 10px 0;
    }
    .navBar .font-bold{
        font-size: 16px;
    }
}
@media (max-width: 425px) {
    .navBar button{
        display: none;
    }
    .outline_btn_success,
    .btn_primary{
        padding: 7px 15px;
        font-size: 12px;
        font-weight: 500;
    }
}